html, body {
    background-color: #2d2d2d;
    color: #2d2d2d;

    overflow: hidden;
    margin: 0;
    padding: 0;
}

.GridContainer {
    display: grid;
    grid-template-areas:
    'input buttons loinc';
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
    padding: 10px;
    padding-bottom: 50px;
    width: 100%;
    height: 100vh;
    background-color: #2d2d2d;
}

.UploadedJSONcontainer {
    grid-area: input;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    align-items: center;
    overflow-x: auto;
    height: 100%;

    background-color: #2d2d2d;
    color: #ffffff;
}

.TransferButton {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    margin: 20px;

    background-color: #2d2d2d;
    color: #ffffff;
}

.LoincJSONcontainer {
    grid-area: loinc;
    margin-left: auto;
    margin-right: 10px;
    box-sizing: border-box;
    align-items: center;
    overflow-x: auto;
    height: 100%;

    background-color: #2d2d2d;
    color: #ffffff;
}

.toolbar_input {
    background-color: #3d3d3d;
    color: #ffffff;
}

.toolbar_loinc {
    background-color: #3d3d3d;
    color: #ffffff;
}

.dropdown-menu {
  background-color: #3d3d3d !important; /* Change to desired menu background color */
  color: #ffffff !important; /* Change to desired menu text color */
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #121212; !important;
    color: #ffffff; !important;
    padding: 10px;
}

.bootstrap-table bootstrap3{
    height: 100vh;
}
#UploadedTable.table-hover > tbody > tr:hover > td,
#UploadedTable.table-hover > tbody > tr:hover > th {
  background-color: #3d3d3d !important; /* Change to desired hover background color */
  color: #ffffff !important; /* Change to desired hover text color */
}

#LoincTable.table-hover > tbody > tr:hover > td,
#LoincTable.table-hover > tbody > tr:hover > th {
  background-color: #3d3d3d !important; /* Change to desired hover background color */
  color: #ffffff !important; /* Change to desired hover text color */
}

#FilterSelectedButton_source, #FilterSelectedButton_terminology, #FilterMappedButton_source {
  background-color: #3d3d3d; /* Change to desired button background color */
  color: #ffffff; /* Change to desired button text color */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}