html, body {
    background-color: #2d2d2d;
    color: #2d2d2d;

    margin: 0;
    padding: 0;
}

.GridContainer {
    display: grid;
    grid-template-areas:
    'input buttons loinc';
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
    padding: 10px;
    width: 100%;

    background-color: #2d2d2d;
}

.UploadedJSONcontainer {
    grid-area: input;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    align-items: center;
    overflow-x: auto;

    background-color: #2d2d2d;
    color: #ffffff;
}

.TransferButton {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    margin: 20px;

    background-color: #3d3d3d;
    color: #ffffff;
}

.LoincJSONcontainer {
    grid-area: loinc;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    align-items: center;
    overflow-x: auto;

    background-color: #2d2d2d;
    color: #ffffff;
}

.toolbar_input {
    background-color: #3d3d3d;
    color: #ffffff;
}

.toolbar_loinc {
    background-color: #3d3d3d;
    color: #ffffff;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #121212;
    color: #ffffff;
    text-align: right;
    padding: 10px;
}
