.GridContainer {
    display: grid;
    grid-template-areas:
    'input buttons loinc';
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.UploadedJSONcontainer {
    grid-area: input;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    align-items: center;
    overflow-x: auto;
}

.TransferButton {
    grid-area: buttons;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
}

.LoincJSONcontainer {
    grid-area: loinc;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    align-items: center;
    overflow-x: auto;
}